.kdev_include_paths
*.*~
*.swp
*.DS_Store
*.kdev4
*.session
*.user
*.autosave
*.opensdf
*.filters
*.user
*.suo
*.sdf
tags
Release/
Debug/
ARM
build
obj
libs
bin
gen
BundleArtifacts/
Service References/
DB_files/
cover_images/
platform/ios/ubreader.xcodeproj/project.xcworkspace/
platform/ios/ubreader.xcodeproj/xcuserdata/
third_parties/boost_1_57_0/