#shelf_left_row {
    width:20px;
    background:url(shelf_background_left_ipad.png);
}

#shelf_right_row {
    width:20px;
    background:url(shelf_background_right_ipad.png);
}

#shelf_top {
    width:100%;
    height:50px;
    background:url(shelf_background_top.png);
}

#books {
    width:100%;
    background:url(shelf_background_ipad.png);
}

.book-element-shelf{
    padding:0;
    display:inline-block;
    text-align:center;
    margin:0;
    height:250px;
    border-bottom:0;
}

.book-cover-shelf{
    display:inline-block;
    height:210px;
    margin-top:15px;
}

.book-element-list {
    width:100%;
    display:block;
    height:130px;
    border-bottom:0.5px grey solid;
}

.book-cover-list{
    height:120px;
    margin-top:0;
}

.book-element-list .book-element-cover-row {
    width:110px;
    text-align:right;
    padding-right:10px;
}